# Project files
file.json
_temp.py

# Byte-compiled / optimized files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Vi/Vim swap files
*.swp

# Ignore Emacs backup files
*~

# Ignore C compiled code
*.o
*.out
