header {
    background-color: #fff;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background-image: url(../images/logo.png);
    background-position: 20px 50%;
    background-repeat: no-repeat;
}
